.lista-produtos .card-img-top {
    height: 250px;
    object-fit: cover;
}

.card {
    height: 70vh;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-unidade .card-img-top{
    height: 250px;
    object-fit: cover;
}

.ordenarPor{
    display: flex;
    padding: 5px;
}
.ordenarPor a{
    margin: 5px;
    border:2px solid #ededf7;
    padding: 15px;
    border-radius: 12px;
    background-color: #d7d3ff;
}

.title-unidade{
    font-size: 50px;
    margin: 15px;
    color: rgb(27, 0, 53);
}

.card-unidade {
    height: 70vh;
    padding: 10px;
    margin: 0.5px;
    background-color: #e9e9e986;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.contato{
    display: grid;
    padding: 5px;
    margin-top: 10px;
    gap: 5px;
    align-content: start;
    align-items: start;
    justify-items: start;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.card-unidade:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}